<%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>
            <%= question.title %>
        </h1>
        <h3>
            <%= question.description %>
        </h3>
        <hr>
        <form method="POST" action="/reply">
            <h3>Responder</h3>
            <br>
            <textarea class="form-control" name="body"placeholder="Digite sua respostas"></textarea>
            <br> 
            <input type="hidden" name="questionId" value="<%= question.id %>">
            <button type ="submit" class="btn btn-primary">Responder</button>       
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <br>
        <% replys.forEach(reply => {  %>
            
            <div class="card">
                <div class="card-body">
                 <p><%= reply.body %></p>
                </div>
            </div>
            <br>
        <% }) %>   

    </div>
</body>
<%- include ('partials/footer.ejs') %>